.navbar-text {
   margin-top: 40px !important;
    //margin-bottom: 50px;
}

.navbar-nav > li > a {
    padding-top: 40px !important;
    //padding-bottom: 50px;
}

.navbar-text{
  margin-left: 180px;
}

.navbar-default .navbar-text {
    color: #fff;
}

.navbar-default {
    background-color: #005883;
    border-color: #005883;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.logo{
  width:100px;
  margin: 15px;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 50px;
}

.bienvenida{
  font-size: 25px;
  border:10px solid #005883;
  background: #F0B429;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  overflow: hidden;
  border-radius: 35px 0px 35px 0px;
  box-shadow: 10px 10px 5px grey;
}

.banner-diseno{
  border-radius: 35px;
  text-align: center;

  //margin: 50px;
  //margin-left: 20px;
}


.footer {
  width: 100%;
  height: auto;
  background-color: #005883;
}

.contenido{
      min-height: calc(100% - 320px) !important;
}


.dropdown-toggle{
  font: Helvetica !important;
}

.glyphicon {
    font-family: inherit;
}
.glyphicon:before{
    font-family:'Glyphicons Halflings';
}

#main-footer {
  background: #005883;
  color: white;
  padding: 20px;
  margin-top: 40px;
}
  #main-footer p {
    margin: 0;
  }
  
  #main-footer a {
    color: white;
  }

  .logofooter{
    width:100px;
    margin: 15px;
    position: relative;
    top: -9px;
    left: -1px;
  }

  .n{
   width: 36%;
    /* float: left; */
    font-size: 16px;
    text-align: left;
    line-height: 14px;
    position: relative;
    left: 194px;
    top: -65px;
    margin: -27px;
  }

  .footer_ {
    position: absolute;
    top: 63px;
}

.cont {
    float: right;
    position: relative;
   top: -70px;
    left: -40px;
    padding: 8px 16px;
    margin: -30px;
    border: 1px solid;
    border-radius: 43px;
    text-align: center;
}

.na {
    position: relative;
    float: right;
    top: -104px;
    left: 6px;
}

.widget-twitter{
    font-size: 25px;
  border:10px solid #005883;
  background: #F0B429;
  padding: 20px;
  margin-left: 40px;
  margin-right: 100px;
  overflow: hidden;
  border-radius: 35px 0px 35px 0px;
  box-shadow: 10px 10px 5px grey;
}

