.logo{
  width:55px;
  height:55px;
  alt:"";
}
<<<<<<< HEAD

.area-logo{
  padding: 0 !important;
}

.navbar-brand{

    width: 100% !important;
    left: 0 !important;
    text-align: center !important;

}

.divisas{
    font-size: 25px;
    border:10px solid #005883;
    background: #F0B429;
    padding: 20px;
    margin: 20px 0 50px 0;
    overflow: hidden;
    border-radius: 35px 0px 35px 0px;
    box-shadow: 10px 10px 5px grey;

=======

.area-logo{
  padding: 0 !important;
>>>>>>> aa15309d0d51f5ad7300cf36dae0d1d50d2adfdb
}

.navbar-brand{

<<<<<<< HEAD
=======
    width: 100% !important;
    left: 0 !important;
    text-align: center !important;

}

.divisas{
    font-size: 25px;
    border:10px solid #005883;
    background: #F0B429;
    padding: 20px;
    margin: 20px 0 50px 0;
    overflow: hidden;
    border-radius: 35px 0px 35px 0px;
    box-shadow: 10px 10px 5px grey;

}

>>>>>>> aa15309d0d51f5ad7300cf36dae0d1d50d2adfdb
.navbar-toggle {
    z-index:3;
}

.contenido{
      min-height: calc(100% - 320px) !important;
}

.dropdown-toggle{
  font: Helvetica !important;
}

#navigation,.navbar .navbar-default{
  background-image: url("img/colombia-flag.jpg");
}
.glyphicon {
    font-family: inherit;
}
.glyphicon:before{
    font-family:'Glyphicons Halflings';
}

.navbar-dark{
  font-size: 1.2re;
}

.contenedor{
    width: 1080px;
    margin: auto;
    background: #F0B429;
    color: white;
    padding: 20px 15px 50px 50px;
    border:10px solid #005883;
    border-radius: 35px 0px 35px 0px;
    box-shadow: 10px 10px 5px grey;
}
